@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Source+Sans+Pro&display=swap');

* {
  background-color: #fafafa;
}

$font-body: "Sources Sans Pro" , sans-serif;
$font-display: "Bangers" , sans-serif;

$color-primary: #28527a;
$color-secondary: #1fa8d1;
$color-black: #333333;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-primary
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-display;
  font-size: 50px;
  color: $color-primary
}

.button1 {
  border: 1px solid $color-primary;
  color: $color-primary;
  display: block;
  width: 100px;
  background-color: $color-white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button2 {
  color: $color-white;
  display: block;
  width: 150px;
  background-color: $color-primary;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $color-secondary;
  }

}

main {
  border: 2px solid red;

  height: 40vh;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 

  div {
    text-align: center;

    h2 {
      margin: 40px 0;
    }
  
    h3 {
      color: $color-secondary;
      margin: 20px 0;
    }

    h4 {
      margin: 30px 0;
    }
  
    a {
      text-align: center;
    }
  }
}
