@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Source+Sans+Pro&display=swap");
* {
  background-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #28527a;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Bangers", sans-serif;
  font-size: 50px;
  color: #28527a;
}

.button1 {
  border: 1px solid #28527a;
  color: #28527a;
  display: block;
  width: 100px;
  background-color: #fafafa;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.button2 {
  color: #fafafa;
  display: block;
  width: 150px;
  background-color: #28527a;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}